# Node
node_modules/
.env
dist/
.build/
.next/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend / Backend specific
apps/frontend/.next/
apps/backend/node_modules/
apps/frontend/node_modules/
apps/frontend/.env.local
apps/backend/.env
apps/frontend/generated